                * {
                    margin: 0px;
                    padding: 0px;
                }
                
                .container1 {
                    width: 970px;
                    background-color: #f8f8f8;
                }
                
                .container1 h1 {
                    display: inline-block;
                    font-size: 25px;
                    padding: 10px;
                    margin-right: 220px;
                }
                
                .container1 h2 {
                    display: inline-block;
                    margin-left: 220px;
                    margin-right: 15px;
                }
                
                .container2 {
                    min-width: 300px;
                    background: linear-gradient(#362f33, #6f5964, #644f59);
                    padding: 10px;
                }
                
                .header {
                    background: linear-gradient(#362f33, #6f5964, #644f59);
                    padding-top: 25px;
                }
                
                .header img {
                    border-style: solid;
                    border-width: 5px;
                    border-color: #c0c0c0;
                    width: 380px;
                    height: 250px;
                    margin-left: 25px;
                    margin-right: 20px;
                    display: inline-block;
                }
                
                .about {
                    width: 500px;
                    height: 262px;
                    background: linear-gradient(#eae7e9, #6f5964, #644f59, white);
                    margin-right: 15px;
                    display: inline-block;
                    vertical-align: 45px;
                }
                
                .about a {
                    color: black;
                }
                
                .about h3 {
                    border-style: none;
                    background: linear-gradient(#808080, #848484, white);
                    padding: 10px;
                    font-weight: bold;
                    font-size: 16px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #ffffff;
                }
                
                .texta {
                    padding: 10px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 14px;
                }
                
                .mainleft {
                    width: 290px;
                    height: 560px;
                    background: linear-gradient(white, #9f9198, #750c41);
                    display: inline-block;
                    margin-left: 20px;
                    margin-right: 15px;
                    vertical-align: 5px;
                }
                
                .mainleft h3 {
                    border-style: none;
                    background: linear-gradient(#808080, #848484, white);
                    padding: 10px;
                    font-weight: bold;
                    font-size: 16px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #ffffff;
                }
                
                .mainleft #tecno {
                    margin-top: 50px;
                }
                
                .mainleft img {
                    width: 290px;
                    height: 150px;
                }
                
                .texta2 {
                    padding: 10px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                
                .tecnologia img {
                    width: 40px;
                    height: 40px;
                    padding-top: 10px;
                    margin-left: 7px;
                }
                
                .tecnologia form {
                    border: 2px solid #2a4438;
                    background: #407d61;
                    border-radius: 10px;
                    text-align: center;
                    padding: 8px;
                    margin-left: 70px;
                    margin-right: 70px;
                    margin-top: 10px;
                }
                
                .tecnologia #boton {
                    color: white;
                    background: none;
                    border: none;
                    font-weight: bold;
                }
                
                .maincenter {
                    width: 290px;
                    height: 560px;
                    background: linear-gradient(white, #9f9198, #750c41);
                    display: inline-block;
                    margin-top: 15px;
                    margin-right: 15px;
                    vertical-align: 5px;
                }
                
                .maincenter h3 {
                    border-style: none;
                    background: linear-gradient(#808080, #848484, white);
                    padding: 10px;
                    font-weight: bold;
                    font-size: 16px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #ffffff;
                }
                
                .maincenter #tecno {
                    margin-top: 35px;
                }
                
                .maincenter img {
                    width: 290px;
                    height: 150px;
                }
                
                .texta3 {
                    padding: 10px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                
                .tecnologia2 img {
                    width: 40px;
                    height: 40px;
                    padding-top: 10px;
                    margin-left: 7px;
                }
                
                .tecnologia2 form {
                    border: 2px solid #2a4438;
                    background: #407d61;
                    border-radius: 10px;
                    text-align: center;
                    padding: 8px;
                    margin-left: 70px;
                    margin-right: 70px;
                    margin-top: 10px;
                }
                
                .tecnologia2 #boton {
                    color: white;
                    background: none;
                    border: none;
                    font-weight: bold;
                }
                
                .mainright {
                    width: 290px;
                    height: 560px;
                    background: linear-gradient(white, #9f9198, #750c41);
                    display: inline-block;
                    margin-top: 15px;
                }
                
                .mainright h3 {
                    border-style: none;
                    background: linear-gradient(#808080, #848484, white);
                    padding: 10px;
                    font-weight: bold;
                    font-size: 16px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #ffffff;
                }
                
                .mainright img {
                    width: 290px;
                    height: 150px;
                }
                
                .texta4 {
                    padding: 10px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                
                .tecnologia3 img {
                    width: 40px;
                    height: 40px;
                    padding-top: 10px;
                    margin-left: 7px
                }
                
                .tecnologia3 form {
                    border: 2px solid #2a4438;
                    background: #407d61;
                    border-radius: 10px;
                    text-align: center;
                    padding: 8px;
                    margin-left: 70px;
                    margin-right: 70px;
                    margin-top: 10px;
                }
                
                .tecnologia3 #boton {
                    color: white;
                    background: none;
                    border: none;
                    font-weight: bold;
                }
                
                .footer {
                    min-width: 100px;
                    height: 70px;
                    background-color: #f8f8f8;
                    text-align: center;
                    padding: 10px;
                    font-size: 16px;
                }
                
                .footer img {
                    width: 20px;
                    height: 20px;
                }
                
                .menu li {
                    display: inline-block;
                    margin-top: 5px;
                    font-size: 18px;
                }
                
                .footer a {
                    color: black;
                }