/*Un bloque de declaración es una lista de declaraciones entre llaves “{}” */


/* Cada declaración individual consiste en una propiedad, dos puntos ( : )y un valor*/


/* Si un bloque tiene múltiples declaraciones, tienen que estar separadas por un punto y coma ( ; )*/


/*Para todas las etiquetas “p” de HTML, haz el color de fuente azul (blue).*/

p {
    color: blue;
    font-size: 20px;
    border-right: 5px double rgb(116, 17, 47);
    border-left: 5px groove rgb(29, 29, 32);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    /*negrita*/
    background: #eee;
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 20px;
    vertical-align: top
}


/*Para un elemento con el id “importante”, haz el tamaño de fuente (font size) de 36px*/

#importante {
    font-size: 36px;
}

#menu {
    list-style-type: none;
}

#menu li {
    display: inline-block;
}


/*Para todos los elementos con la clase “info”, haz el fondo (background) verde y agrega un borde negro (black border) de 1px de ancho*/

.info {
    background-color: gold;
    border-color: midnightblue;
    border: 1px solid red;
}


/*Las propiedades width (ancho) y height (altura) son utilizadas para determinar el tamaño de tus elementos*/

a {
    width: 25px;
    color: rgb(106, 56, 199);
    text-decoration-line: underline;
    font-size: 1em;
    margin: 10px;
    color: red padding: 15px;
}

span {
    color: rgb(194, 18, 141);
    font-size: 80%;
    font-style: italic;
    font-weight: 600;
}

div {
    width: 100%;
    height: 400px;
    overflow: scroll;
    background-image;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    border: 4px double green;
    border-radius: 5px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 75px;
    padding-left: 100px;
}

h1 {
    text-align: left;
}

h2 {
    text-align: center;
    color: teal;
}

h3 {
    text-align: right;
    font-size: 10pt;
}

img {
    width: 400px;
}

button {
    border: 5px dotted green;
    border-radius: 5px;
}